html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}
:root {
  --swiper-pagination-bottom: 0px;
}
.container {
  border: 1px solid black;
}

@media screen and (min-width: 480px) {
  .container {
    width: 335px;
    height: 404px;

    margin-right: auto;
    margin-left: auto;
  }
  .swiper {
    height: 275px;
    width: 332px;
  }
  .modal-btn {
    margin: 32px auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 704px;
    height: 463px;
    margin-right: auto;
    margin-left: auto;
  }
  .swiper {
    height: 275px;
    width: 704px;
  }
  .modal-btn {
    margin: 50px auto;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1136px;
    height: 463px;
    margin-right: auto;
    margin-left: auto;
  }
  .swiper {
    height: 275px;
    width: 1136px;
  }
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.hidden {
  visibility: hidden;
  pointer-events: none;
  position: absolute;
  width: 1px;
  height: 1px;
  left: -1px;
}

/* -------------------- /zero-settings -------------------- */

/* -------------------- review-section -------------------- */
@media screen and (min-width: 480px) {
  .review {
    margin-top: 72px;
    margin-bottom: 0;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (min-width: 768px) {
  .review {
    margin-top: 100px;
    margin-bottom: 0;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .review {
    margin-top: 128px;
    margin-bottom: 0;
    margin-right: auto;
    margin-left: auto;
  }
}

.review {
  background: rgb(226 226 226 / 10%);
}

.review-user-picture {
  display: block;
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;

  left: 168px;
  top: 0;
  transform: translateY(-50%) translateX(-50%);
}
.review-header {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #111111;

  margin-bottom: 32px;
}
.review-header-text {
  color: #fd9222;
}

.review-user .h3 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
  color: #111111;
}
.review-user-name {
  padding-top: 58px;
  padding-bottom: 24px;
}

.review-user-description {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  letter-spacing: -0.02em;
  color: rgba(17, 17, 17, 0.7);

  margin-left: 16px;
  margin-right: 16px;
  padding-bottom: 24px;
}

.review-user {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  text-align: center;

  border: 1px solid rgb(46 47 66 / 20%);
  border-radius: 15px;
  height: 200px;
  width: 700px;
}

/* -------------------- /review-section -------------------- */

/* -------------------- swiper-section -------------------- */

.swiper {
  padding-top: 40px;
  margin-left: auto;
  margin-right: auto;
}

.swiper-pagination-bullet {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: rgba(17, 17, 17, 0.3);
  /* position: absolute;
  top:300px; */
}

.swiper-pagination-bullet-active {
  width: 28px;
  height: 13px;
  border-radius: 6px;
  background: #fd9222;
}

/* -------------------- /swiper-section -------------------- */

/* -------------------- modal-section -------------------- */

.modal-btn {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  color: #111111;

  width: 165px;
  height: 41px;

  background: #ffffff;
  border-radius: 100px;
  border: 1px solid #fd9222;
  /* border-color: transparent; */

  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1),
    background 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
  color: #fd9222;
  background: #fcf1e0;
}

.backdrop {
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);

  position: fixed;
  top: 0;
  left: 0;
  transition: opacity 0.25s cubic-bezier(0.4, 0, 0.2, 1),
    visibility 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  padding-top: 80px;
}

@media screen and (min-width: 480px) {
  .modal {
    width: 311px;
    border-radius: 15px;
    background: #ffffff;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
      0px 2px 1px rgba(0, 0, 0, 0.2);

    padding: 32px 24px 32px 24px;
    position: absolute;
    left: 50%;

    transform: translateX(-50%) scale(1);
    transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  }

  .backdrop {
    position: fixed;
    z-index: 100;
  }

  .modal-close {
    display: flex;
    margin-left: auto;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: transparent;
    border: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 1px solid transparent;

    position: absolute;
    top: 20px;
    right: 20px;
    transform: translateXY(-50%) scale(1);
    transition: background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  }

  .modal-position {
    position: relative;
  }
  .close-button {
    fill: black;
    transition: fill 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal-close:is(:hover, :focus) {
    fill: #f16529;
    background-color: #fcf1e0;
  }

  .is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  .backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0);
  }

  .modal-title {
    display: inline;
    flex-wrap: wrap;
    align-items: center;

    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2px;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: #111111;
    width: 255px;
    height: 48px;
  }

  .header-logo-text {
    color: #fd9222;
  }

  .form-input {
    width: 263px;
    height: 45px;
    border: 1px solid rgb(46 47 66 / 20%);
    border-radius: 8px;
    outline: transparent;
    color: #2e2f42;

    padding-left: 16px;
    transition: border-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  }

  .form-input:nth-child(2) {
    padding-left: 88px;
  }

  .form-input:focus {
    border-color: #fd9222;
  }
  .form-input:focus + .form-icon {
    fill: #fd9222;
  }
  .form-textarea:focus {
    border-color: #fd9222;
    color: #2e2f42;
  }

  .form-textarea {
    width: 263px;
    height: 91px;
    border: 1px solid rgb(46 47 66 / 20%);
    border-radius: 8px;
    resize: none;
    outline: transparent;
    padding-left: 16px;

    font-weight: 400;
    font-size: 14px;
    line-height: 1.21;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);

    display: block;
    padding-top: 8px;
    padding-left: 16px;
  }

  .form-label {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;

    display: block;
    margin-bottom: 4px;
  }
  .form-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  }
  .form-group {
    margin-bottom: 14px;
  }

  .form-control {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.21;
    letter-spacing: -0.02em;
    color: rgba(64, 64, 64, 0.3);
    position: relative;
  }

  .modal-form .modal-btn {
    width: 93px;
    height: 41px;
    margin-top: 18px;
    margin-left: 0;

    display: block;
    justify-content: center;
  }

  .country-code {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    border-right: 1px black;

    margin-top: 23px;
    margin-left: 16px;
    transform: translateY(-50%);
  }

  .country-code::after {
    content: "";
    height: 25px;
    width: 1px;
    flex-grow: 1;
    background-color: #8e8f99;

    display: inline-block;
  }

  .country-code-flag {
    width: 24px;
    height: 24px;
    margin-right: 8px;
  }
  .country-region {
    padding-right: 8px;
  }
}

/* -------------------- modal-tablet-wiew-section -------------------- */

@media screen and (min-width: 768px) {
  .modal {
    width: 517px;
  }

  .form-input {
    width: 473px;
    height: 66px;
  }

  .form-textarea {
    width: 473px;
    height: 137px;
  }

  .modal-title {
    display: inline-block;
    font-size: 24px;
    line-height: 1.17;
    width: 298px;
  }

  .form-textarea,
  .form-control,
  .country-region {
    font-size: 18px;
    line-height: 1.22;
  }

  .modal-form .modal-btn {
    width: 117px;
    height: 45px;
  }

  .country-code-flag {
    width: 32px;
    height: 24px;
  }

  .country-code {
    margin-top: 34px;
  }

  .country-region {
    padding-right: 32px;
  }

  .form-input:nth-child(2) {
    padding-left: 177px;
  }

  .country-code::after {
    width: 2px;
  }
  .modal-title br {
    display: none;
  }
}

/* -------------------- /modal-tablet-wiew-section -------------------- */
