<section class="hero">
  <h1 class="hidden-visually"></h1>
  <h2 class="hero-title">
    Treat yourself or a loved one to our finest ingredients for a moment of pure
    delight!
  </h2>
  <div class="hero-container">
    <div class="hero-btn-container">
      <button type="button" class="hero-btn hero-btn-buy">Buy now</button>
      <button type="button" class="hero-btn hero-btn-how">How it’s made</button>
    </div>
    <a class="link hero-link" href="footer.html">
      <span>scroll down</span>
      <svg class="hero-scroll-icon" width="22" height="22">
        <use href="../img/sprite.svg#icon-scroll-down"></use>
      </svg>
    </a>
  </div>
</section>
