<section class="sellers" id="top-sellers">
  <div class="sellers-container container">
    <h2 class="sellers-title section-title">
      <span class="sellers-title-accent">TOP</span> SELLERS
    </h2>
    <ul class="sellers-list list">
      <li class="sellers-item">
        <picture>
          <source
            srcset="
              ./img/top-seller-1-desktop.jpg    1x,
              ./img/top-seller-1-desktop-2x.jpg 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./img/top-seller-1-tablet.jpg    1x,
              ./img/top-seller-1-tablet-2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="./img/top-seller-1.jpg 1x, ./img/top-seller-1-2x.jpg 2x"
            media="(max-width: 767px)"
          />
          <img
            src="./img/top-seller-1.jpg"
            alt="chocolate and coffee and nut"
            class="sellers-img"
          />
        </picture>
        <p class="sellers-text">
          Crazy enough chocolate originates from a bean just like the coffee
          bean called Cacao. Cacao has been around for thousands of years and
          was first discovered by the Native American tribe called the Mayans.
        </p>
      </li>
      <li class="sellers-item sellers-item-2">
        <picture>
          <source
            srcset="
              ./img/top-seller-2-desktop.jpg    1x,
              ./img/top-seller-2-desktop-2x.jpg 2x
            "
            media="(min-width: 1200px)" />
          <source
            srcset="
              ./img/top-seller-2-tablet.jpg    1x,
              ./img/top-seller-2-tablet-2x.jpg 2x
            "
            media="(min-width: 768px)" />
          <source
            srcset="./img/top-seller-2.jpg 1x, ./img/top-seller-2-2x.jpg 2x"
            media="(max-width: 767px)" />
          <img
            src="./img/top-seller-2.jpg"
            alt="chocolate and nuts and mint"
            class="sellers-img"
        /></picture>
      </li>
      <li class="sellers-item-3">
        <picture>
          <source
            srcset="
              ./img/top-seller-3-desktop.jpg    1x,
              ./img/top-seller-3-desktop-2x.jpg 2x
            "
            media="(min-width: 1200px)"
          />
          <img
            src="./img/top-seller-3-desktop.jpg"
            alt="chocolate"
            class="sellers-img"
          />
        </picture>
      </li>
    </ul>
    <div class="sellers-text-wrapper">
      <p class="sellers-text-button">
        Crazy enough chocolate originates from a bean just like the coffee bean
        called Cacao. Cacao has been around for thousands of years and was first
        discovered by the Native American tribe called the Mayans.
      </p>
      <div class="sellers-button-wrapper">
        <button class="sellers-button" width="120" height="41">Buy now</button>
      </div>
    </div>
  </div>
</section>
