/* Color variables */
:root {
  --color-black: #111111;
  --color-violet: #1e1823;
  --color-orange: #fd9222;
  --color-white: #fafafa;
}

/* Fonts */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/Montserrat-Regular.woff2'),
    url('../fonts/Montserrat-Regular.woff');
}
@font-face {
  font-family: 'Montserrat';
  font-style: medium;
  font-weight: 500;
  font-display: swap;
  src: url('../fonts/Montserrat-Medium.woff2'),
    url('../fonts/Montserrat-Medium.woff');
}
@font-face {
  font-family: 'Montserrat';
  font-style: semi bold;
  font-weight: 600;
  font-display: swap;
  src: url('../fonts/Montserrat-SemiBold.woff2'),
    url('../fonts/Montserrat-SemiBold.woff');
}
@font-face {
  font-family: 'Montserrat';
  font-style: bold;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/Montserrat-Bold.woff2'),
    url('../fonts/Montserrat-Bold.woff');
}
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/Montserrat-BoldItalic.woff2'),
    url('../fonts/Montserrat-BoldItalic.woff');
}

/* Reset styles */
* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}

.list {
  list-style: none;
}

a {
  color: currentColor;
}

.link {
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Default styles */
body {
  margin: 0;
  padding: 0;
  color: var(--color-black);
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 14px;
  line-height: calc(18 / 14);
  letter-spacing: -0.02em;
  margin: 0;
  padding: 0;
}

.section-title {
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 24px;
  line-height: calc(28 / 24);
}

.container {
  width: 100%;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .container {
    width: 335px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 704px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1136px;
  }
}

/* Visually hidden elements */
.hidden-visually {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
}
